# Fictitious Names

### Intro:

На этот раз мы все будем делать ручками

Спасибо [Chris Albon](http://chrisalbon.com/) за все (датасет и материалы). Это все его)

Если вы не особо знакомы с джойнами в пандасе - не страшно, сейчас разберемся, освежите память как работают джойны в SQL [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).


https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html


### Step 1. Все как обычно

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Создайте 3 DataFrame на основе данных ниже и положите в переменные data1, data2, data3

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': [ '4', '5', '7', '8', '11'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
data1

In [ ]:
data2

In [ ]:
data3

### Step 3. Объедините data1 и data2 вдоль строк и сохарните в переменную all_data

hint: concat, add, обратите внимание на параметр ignore_index.

In [ ]:
all_data

In [ ]:
assert all_data.shape == (10, 3)

### Step 4. Объедините data1, data2 вдоль колонок и сохраните в all_data_col

In [ ]:
all_data_col

In [ ]:
assert all_data_col.shape == (5, 6)

### Step 5. Объедините all_data и data3 по полю subject_id и сохраните в all_data_merged

In [ ]:
all_data_merged

In [ ]:
assert all_data_merged.shape==(10, 4)

### Step 6. Объедините data1, data2. Нужно оставить только те записи, где  'subject_id' встречается в обоих DF. Сохраните в переменную AAA

In [ ]:
assert AAA.shape == (2, 5)

### Step 7. Объедините data1, data2 по 'subject_id', сматчив записи с обоих датафреймов, где это возможно, и оставив информацию с обоих датафреймов где не сматчилось. (на какой вид SQL мерджа это похоже? Найдите такой парамер и используйте во благо). Сохраните датафрейм в переменную BBB

In [ ]:
assert BBB.shape == (8, 5)

In [ ]:
BBB

In [ ]:
# Обратите внимание у вас могли появиться у названий колонок суффиксы _x и _y.
# это сделано для того чтобы понимать откуда какая запись пришла. Вы можете задать их любыми.
# (например _df1, _df2)