# MPG Cars

### Intro:

data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Импортируем необходимое

In [1]:
import pandas as pd
import numpy as np

### Step 2. Скачайте датасет [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv

--2019-04-02 12:39:57--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа... 200 OK
Длина: 10163 (9,9K) [text/plain]
Сохранение в каталог: ««cars1.csv»».

cars1.csv           100%[===================>]   9,92K  --.-KB/s    in 0s

2019-04-02 12:39:57 (74,2 MB/s) - «cars1.csv» сохранён [10163/10163]

--2019-04-02 12:39:57--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.36.133
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|151.101.36.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа... 200 OK
Длина: 9383 (9,2K) [text/plain]
Сохранение в каталог: ««cars2.csv»».

cars2.csv           100%[===================>]   9,16K  --.-KB/s    in 0s

2019-04-02 12:39:58 (34,0 MB/s) - «cars2.csv» сохранён [9383/9383]

   ### Step 3. Загрузим каждый в переменные cars1 и cars2

In [3]:
cars1 = pd.read_csv("./cars1.csv")
cars2 = pd.read_csv("./cars2.csv")

In [4]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [5]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. В первом датасете проблемы с пустыми колонками. Пофиксим

In [6]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. Число наблюдей в каждом датасете?

In [7]:
print (cars1.shape)
print (cars2.shape)

(198, 9)
(200, 9)

### Step 6. Объедините cars1 and cars2 в один DataFrame и положите в переменную cars

In [8]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Создадим Series со случайными значениями от 15,000 до 73,000 размером cars

In [9]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([41709, 70362, 32851, 55592, 25925, 40929, 26782, 34235, 31663,
       23638, 56601, 31644, 34120, 33466, 59902, 66402, 65941, 64488,
       55899, 20926, 66926, 42661, 71140, 18529, 56364, 66986, 72659,
       67453, 23081, 53028, 25384, 64163, 43730, 61837, 55340, 31456,
       56640, 33631, 60334, 48155, 15342, 24431, 48203, 20934, 52900,
       57677, 31515, 23803, 67463, 49077, 52348, 29379, 57394, 64730,
       28880, 43377, 16608, 25889, 45791, 48913, 47902, 68443, 29973,
       22008, 53518, 72588, 47646, 63386, 39062, 16695, 17204, 66294,
       57706, 45434, 17573, 45238, 32694, 19862, 55161, 67328, 36368,
       51984, 27254, 32269, 43455, 41556, 59260, 45754, 33794, 37070,
       40730, 46323, 60452, 61898, 47901, 16885, 36488, 51956, 43483,
       34928, 25818, 38419, 70294, 46516, 17710, 41141, 35058, 52869,
       40431, 29558, 34400, 21549, 71869, 64630, 42856, 41030, 72665,
       18595, 62991, 25776, 16016, 38160, 43233, 48236, 72343, 36209,
       52488, 70286, 53198, 44226, 57785, 56810, 63511, 62029, 67750,
       54648, 37551, 42218, 43500, 65912, 18776, 61578, 33114, 56363,
       25601, 47107, 32947, 41388, 32093, 66540, 50438, 36341, 55683,
       16047, 36552, 42671, 59970, 55859, 53017, 58247, 39762, 55819,
       56021, 47956, 57848, 69109, 21444, 37039, 51161, 67970, 44329,
       30232, 55313, 64778, 32464, 53988, 52046, 63581, 57510, 69629,
       23142, 41339, 72441, 18312, 52063, 66432, 69024, 65816, 52811,
       22223, 18816, 45907, 60289, 64794, 72839, 55648, 50428, 21560,
       36662, 71243, 45073, 51600, 61027, 45069, 29837, 24754, 48297,
       52324, 62694, 35009, 29478, 62947, 64820, 18760, 37998, 36452,
       68018, 29052, 31479, 28500, 45234, 30028, 61331, 44268, 59207,
       34089, 47678, 51532, 39454, 29402, 52044, 68352, 52640, 34811,
       19492, 21712, 70855, 59604, 51777, 57340, 35717, 70588, 61589,
       19627, 32434, 54513, 59542, 44892, 48636, 28588, 19466, 32717,
       49458, 15802, 49608, 36594, 66450, 26185, 34283, 55203, 58691,
       40053, 64869, 45824, 54248, 34347, 64631, 29326, 72602, 17221,
       70559, 15205, 47217, 57354, 29502, 15888, 52867, 55446, 64810,
       20243, 21198, 44221, 43631, 69667, 68885, 54634, 35378, 70656,
       47280, 51052, 59267, 31103, 33252, 45578, 33429, 34987, 33653,
       37211, 25955, 55471, 51966, 71424, 35675, 52317, 35803, 16585,
       62472, 20826, 65853, 58984, 36799, 20130, 52578, 46226, 54303,
       48624, 56941, 22762, 66076, 32886, 57143, 33694, 41489, 16040,
       20272, 25331, 52003, 27824, 36819, 43924, 27309, 42529, 39068,
       42649, 44765, 44862, 41556, 57829, 71654, 44781, 48715, 71143,
       59073, 56634, 38298, 51091, 38507, 43292, 38292, 49680, 25693,
       38977, 69138, 46948, 47375, 47634, 45577, 48410, 19340, 66926,
       33959, 62134, 71048, 16205, 43210, 17344, 30966, 66445, 30720,
       21175, 71548, 32983, 44505, 58092, 37721, 43874, 18148, 32028,
       33476, 19431, 45717, 55051, 67746, 72645, 43146, 21452, 55610,
       47113, 36864, 25204, 20879, 17630, 33468, 63067, 21102, 39493,
       25566, 40512])

### Step 8. Добавим колонку Owners

In [10]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,63067
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,21102
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,39493
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,25566
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,40512